# 1. Virtual environment
venv/
.env/

# 2. Python bytecode
__pycache__/
*.py[cod]
*$py.class

# 3. Data dan output model (jika tidak ingin disimpan di Git)

# 4. IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 5. Sistem operasi
.DS_Store
Thumbs.db

# 6. Log dan file sementara
*.log
*.tmp
